.u-section-1 .u-sheet-1 {
  min-height: 560px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-image-1 {
  height: 393px;
  width: 393px;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  font-weight: normal;
  margin: 26px 0 34px;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 507px;
  }

  .u-section-1 .u-image-1 {
    height: 340px;
    width: 340px;
  }
}